:root {
  --ev-c-white: #ffffff;
  --ev-c-black: #000000;

  --ev-c-purple-1: #482960;
  --ev-c-purple-2: #35223c;
  --ev-c-purple-3: #201b2f;

  --ev-c-blue-purple-1: #6963bd;

  --ev-c-pink-1: #952b6a;

  --ev-c-red-1: #e10053;

  --ev-c-gray-0: #d9d9d9;
  --ev-c-gray-1: #6d6d6d;
  --ev-c-gray-2: #363636;
  --ev-c-gray-3: #28282b;
  --ev-c-gray-4: #1c1d21;

  --ev-c-green-0: #d4c600;
  --ev-c-green-1: #298200;
  --ev-c-green-2: #3eb607;

  --ev-c-amber-1: #ad7302;
  --ev-c-amber-2: #573e26;
  --ev-c-amber-3: #805c3c;

  --ev-c-text-white: #ffffff;
  --ev-c-text-gray: #6d6d6d;
  --ev-c-text-light-gray: #afafaf;

  --scrollbar-width: 10px;
}

button,
a {
  app-region: no-drag;
}

:root {
  --color-button-disabled: var(--ev-c-gray-1);
  --color-button-normal: var(--ev-c-blue-purple-1);
  --color-button-highlighted: var(--ev-c-amber-2);
  --color-button-incoming: var(--ev-c-green-1);
  --color-button-hangup: var(--ev-c-pink-1);

  --color-button-text-enabled: var(--ev-c-white);
  --color-button-text-disabled: var(--ev-c-text-light-gray);

  --color-sender-bubble: var(--ev-c-purple-1);
  --color-video-caller-status-bubble: var(--ev-c-pink-1);
  --color-background: var(--ev-c-purple-2);
  --color-form-panel-background: var(--ev-c-purple-3);
  --color-form-panel-border: var(--ev-c-gray-1);
  --color-sidebar: var(--ev-c-purple-3);
  --color-receiver-bubble: var(--ev-c-pink-1);
  --color-text-black: var(--ev-c-black);
  --color-text-gray: var(--ev-c-gray-1);
  --color-text-white: var(--ev-c-white);
  --color-text-error: var(--ev-c-amber-1);
  --color-block-selected: var(--ev-c-gray-2);
  --color-block: var(--ev-c-gray-3);
  --color-block-highlighted: var(--ev-c-amber-2);
  --color-block-highlighted-selected: var(--ev-c-amber-3);
  --color-input-box: var(--ev-c-gray-0);
  --color-input-box-disabled: var(--ev-c-gray-1);

  --color-lightbulb-connected: var(--ev-c-green-1);
  --color-lightbulb-unverified: var(--ev-c-green-0);
  --color-lightbulb-disconnected: var(--ev-c-amber-1);
  --color-lightbulb-error: var(--ev-c-red-1);
  --color-lightbulb-offline: var(--ev-c-gray-4);

  --color-border: var(--ev-c-gray-1);

  --color-local-status-bubble: var(--ev-c-purple-2);
  --color-local-status-bubble-selected: var(--ev-c-purple-1);

  --color-icon: var(--ev-c-white);
}

:root {
  --dark-box-shadow: inset 0px 3px 3px 0px rgb(255 255 255 / 0.025),
    0px 3px 3px 0px rgb(0 0 0 / 0.2);
  --light-box-shadow: inset 0px 3px 3px 0px rgb(255 255 255 / 0.15),
    0px 3px 3px 0px rgb(0 0 0 / 0.2);
}

:root {
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  /* backdrop-filter: blur(10px); */
  line-height: 1.6;
  font-size: 10pt;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text-white);
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

/* Track */
/* ::-webkit-scrollbar-track {} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* border-style: solid;
  border-width: 1px;
  border-color: var(--color-form-panel-border); */
