:root {
  --ev-c-white: #ffffff;
  --ev-c-black: #000000;

  --ev-c-purple-1: #482960;
  --ev-c-purple-2: #35223C;
  --ev-c-purple-3: #201B2F;

  --ev-c-pink-1: #952B6A;

  --ev-c-gray-0: #D9D9D9;
  --ev-c-gray-1: #6D6D6D;
  --ev-c-gray-2: #343434;
  --ev-c-gray-3: #28282B;
  --ev-c-gray-4: #1C1D21;

  --ev-c-green-1: #298200;

  --ev-c-amber-1: #AD7302;
  --ev-c-amber-2: #573E26;
  --ev-c-amber-3: #805C3C;

  --ev-c-text-white: #ffffff;
  --ev-c-text-gray: #6D6D6D;

  --scrollbar-width: 10px;


}

:root {

  --color-sender-bubble: var(--ev-c-purple-1);
  --color-background: var(--ev-c-purple-2);
  --color-sidebar: var(--ev-c-purple-3);
  --color-receiver-bubble: var(--ev-c-pink-1);
  --color-text-black: var(--ev-c-black);
  --color-text-gray: var(--ev-c-gray-1);
  --color-text-white: var(--ev-c-white);
  --color-text-error: var(--ev-c-amber-1);
  --color-block-selected: var(--ev-c-gray-2);
  --color-block: var(--ev-c-gray-3);
  --color-block-highlighted: var(--ev-c-amber-2);
  --color-block-highlighted-selected: var(--ev-c-amber-3);
  --color-input-box: var(--ev-c-gray-0);
  --color-input-box-disabled: var(--ev-c-gray-1);

  --color-lightbulb-connected: var(--ev-c-green-1);
  --color-lightbulb-disconnected: var(--ev-c-amber-1);
  --color-lightbulb-offline: var(--ev-c-gray-4);

  --color-local-status-bubble: var(--ev-c-purple-2);
  --color-local-status-bubble-selected: var(--ev-c-purple-1);

  --color-icon: var(--ev-c-white);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-size: 10pt;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text-white);
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

/* Track */
/* ::-webkit-scrollbar-track {} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}